# Supply-chain cooldown: don't install versions published less than 7 days ago.
# Our own org's packages are exempt so internal releases aren't delayed.
min-release-age=7
min-release-age-exclude[]=@frankieone/*
